.o > .bar {
  background: #b848bcd7 !important;
}
.c > .bar {
  background: #e44848d7 !important;
}
.e > .bar {
  background: #05b4ffd7 !important;
}
.a > .bar {
  background: #63c143d7 !important;
}
.n > .bar {
  background: #ffbd0fd7 !important;
}
